

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('resources/loginbackground.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: 100%;
font-family: 'Numans', sans-serif;
}


.container{
height: 100%;
align-content: center;
}

.card{
height: 380px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
border: 5px solid white;
border-radius: 20px;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: white;
color: black;
border:0 !important;
}

.inputfield{
border: 2px solid white;
/* background-color: transparent!important; */
}
input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: white;
width: 100px;
background-color: transparent !important;
border: 2px solid white;
border-radius: 20px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
color: white;
}

.links a:hover{
margin-left: 4px;
color: yellow;
transition: 1s;
text-decoration: none;
}

.form-control {
    display: block;
	width: 100%;
	
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #000000!important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0,0,0,.03);
    border-top: 1px solid rgba(0,0,0,.125);
}

#loginbtn{
	margin-left: 50px;
}

#signupbtn{
	margin-right: 50px;
}