nav{
	width: 100%;
	background-color: skyblue;
}
#logout-btn{
	margin-left: 100px!important;	
}
#navbar{
	/* position: fixed;
	display: none; */
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	right: -257px;
  	width: 100%; /* Full width */
}
.header-desktop {
    background-color: #83d3f3!important;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    left: 257px!important;
    height: 75px;
    z-index: 3;
}